*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1rem;
}

#error-msg {
    color: red;
    font-size: 0.9rem;
}