body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
}
  
.site-header {
  background-color: #34495e;
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
.site-header h1 {
  margin: 0;
  font-size: 1.8rem;
}
  
.nav a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}
  
.nav a:hover {
  color: #1abc9c;
}

.views-slider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-btn {
  position:absolute;
}

.nav-btn.next {
  right: 1rem;
}

.nav-btn.prev {
  left: 1rem;
}

.quotes-form {
  display: flex;
  flex-direction: column;
  width: 50vh;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 1vh;
  box-shadow: 5px 10px rgb(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.quotes-form label{
  display: flex;
  flex-direction: column;
}
.quotes-form h2 {
  margin: auto;
}

#quotes-textarea {
  resize: vertical;
  min-width: 100%;
}

#quotes {
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  height: 75vh;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}