body, html{
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
}


.site-header {
  background-color: #34495e;
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
.site-header h1 {
  margin: 0;
  font-size: 1.8rem;
}
  
.nav a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}
  
.nav a:hover {
  color: #1abc9c;
}

.views-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-btn {
  position:absolute;
}

.nav-btn.next {
  right: 1rem;
}

.nav-btn.prev {
  left: 1rem;
}

#message-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#message-box.error {
  background-color: #f44336;
}

#message-box.show {
  opacity: 1;
}

#message-box.hidden {
  opacity: 0;
  pointer-events: none; /* allows clicks to pass through */
}

.quotes-view {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin: 20px auto;
  padding: 0;
  gap: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.journal-view {
  display: block;
  text-align: center;
  padding: 0;
  gap: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.folder-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


#folder-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95vw;
  gap: 20px;
}

.folder-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-style: solid;
  padding: 20px;
  padding-bottom: 0px;
  border-width: 1px;
  border-radius: 1vh;
  cursor: pointer;
  min-width: 10vh;
  max-width: 10vh;
}

#quotes-container {
  display: block;
  border-style: solid;
  left: 0;
  border-width: 1px;
  border-radius: 1vh;
  box-shadow: 5px 10px rgb(0, 0, 0, 0.1);
  margin: 0;
  width: 1000px;
  max-height: 100%;
}

.quotes-table {
  width: 100%;
  table-layout: auto;
}

.quotes-table th,
.quotes-table td {
  text-align: left;
  padding: 8px;              /* Adds space inside cells */
  white-space: nowrap;       /* Prevents breaking long content into multiple lines */
  height: auto;              /* Height grows with content */
}

#quotes-form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 50vh;
  gap: 1rem;
  padding: 2rem;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 1vh;
  box-shadow: 5px 10px rgb(0, 0, 0, 0.1);
}

#quotes-form label{
  display: flex;
  flex-direction: column;
}
#quotes-form h2 {
  text-align: center;
  margin: 0;
}

#quotes-form textarea {
  resize: vertical;
  min-width: 100%;
}

#quotes {
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  height: 75vh;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

#create-folder-container {
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.3s ease;
}

#create-folder-form {
  background: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 1vh;
  padding: 5vh;
}

#create-folder-form h2{
  margin: 0;
}

.entries-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  animation: fadeIn 1s ease-in forwards;
}

#entry-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  gap: 20px;
}

.entry-card {
  position: relative;
  padding: 10px;
  min-width: 15vw;
  min-height: 25vh;
  max-width: 25vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 1vh;
}

.entry-content {
  height: 75%;
}
.entry-date {
  position: absolute;
  text-align: left;
  bottom: 0;
  font-size: small;
  font-style: italic;
  color: gray;
}

#create-entry-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.3s ease;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#delete-folder-card{
  background: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 1vh;
  padding: 5vh;
}

.shadowed-container {
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-radius: 1vh;
  border-width: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#entry-textarea {
  display: block;
  width: 75vh;
  min-height:10vh;
  resize: vertical;
}

/* Hidden class to toggle */
.hidden { 
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}